.footer {
    background-color: transparent; /* Or any background color you prefer */
    color: black; /* Adjust text color as needed */
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  