.navbar-custom {
    background-color: transparent;
  }
  
  .nav-link {
    color: black; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .nav-link:hover {
    color: purple; /* Color when hovered over */
  }
  
  .active-link {
    color: white; /* Color for active link */
  }
  
  .navbar-custom .nav-link {
    color: black; /* Default color */
    font-weight: normal; /* Default weight */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-custom .nav-link:hover {
    color: #6f42c1; /* Change color on hover */
    transform: scale(1.1); /* Scales up the text */
  }
  
  .navbar-custom .nav-link.active {
    color: white; /* Color when the link is active */
  }
  